.btn {
  width: 100%;
  padding: 1em;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: linear-gradient(135deg, var(--main-clr), var(--toolbox-clr-slot));
  cursor: pointer;
  box-shadow: var(--shadow);
}

.btn p {
  font-weight: bold;
}
