.container {
  font-family: Arial, Helvetica, sans-serif;
}

.paper {
  display: none;
  position: relative;
  width: 210mm;
  height: 297mm;
  padding: 12mm 12mm;
  background-color: #ffffff;
  margin: auto;
}

.paper h1 {
  font-weight: bold;
  font-size: 16pt;
  color: #000000;
}

.paper h2 {
  font-size: 8pt;
  color: #000000;
}

.paper h3 {
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
}

.paper p {
  font-size: 10pt;
  color: #000000;
}

.head {
  display: grid;
  grid-template-columns: 24mm 10mm 20mm 50mm 34mm 48mm;
  grid-template-rows: 12mm 5mm 16mm 10mm 14mm;
}

.head li {
  display: flex;
  align-items: center;
  padding-inline: 2mm;
}

.head .box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 6mm;
  padding-inline: 2mm;
  text-transform: uppercase;
}

.body {
  display: grid;
  grid-template-columns: 25mm 65mm repeat(6, 16mm);
  grid-template-rows: 12mm 6mm repeat(12, 12mm) 30mm 12mm;
}

.body li {
  display: grid;
  place-items: center;
  padding-inline: 2mm;
  border: 1px solid black;
}

.checkedby {
  width: 30mm;
  height: 16mm;
  transform: rotate(270deg) translateY(-9mm);
  text-transform: uppercase;
  text-align: center;
  padding: 1mm;
}

.signature {
  width: 30mm;
  height: 16mm;
  transform: rotate(270deg) translateY(-8mm);
}

@media print {
  .container {
    position: fixed;
    inset: 0;
  }

  .paper {
    display: block !important;
    position: absolute;
    inset: 0;
    width: 210mm;
    height: 297mm;
  }
  button {
    display: none !important;
  }
}

@page {
  size: A4;
  margin: 0;
}
