.container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 30rem));
  gap: 1em;
}

.container ul li {
  border: 1px solid var(--bkgrd-clr-2);
  border-radius: 0.5rem;
  height: 4rem;
  box-shadow: var(--shadow);
}

.container ul li a {
  display: flex;
  gap: 1em;
  padding: 0.75em;
}

.container__img {
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  background: var(--bkgrd-clr-2);
  border-radius: 0.25rem;
}

.container__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: var(--main-clr);
}

.container__img svg {
  position: relative;
  z-index: 1;
  height: 1rem;
  width: auto;
}

.container__img svg path {
  fill: var(--font-clr-1);
}

.container__text {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__text p:last-of-type {
  color: var(--font-clr-2);
}

.container__arrow {
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
}

.container__arrow svg {
  height: 1rem;
}
