.container {
  padding: 0.5rem;
  display: grid;
  gap: 2rem;
}

.gridWrapper {
  display: grid;
  gap: 0.5rem;
}

.container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 30rem));
  gap: 0.5em;
}

.container ul li {
  position: relative;
  min-height: 5.5rem;
  border: 1px solid var(--border-clr-main);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  opacity: 0;
  transform: translateX(-1rem);
  animation: card-slide-in 0.3s ease forwards;
}

.container ul li a {
  display: flex;
  gap: 1em;
  padding: 0.75em;
}

.container__img {
  position: relative;
  display: grid;
  place-items: center;
  height: 2.5rem;
  aspect-ratio: 1;
  background: var(--bkgrd-clr-2);
  border: 1px solid var(--border-clr-main);
  border-radius: 0.25rem;
  box-shadow: inset var(--shadow);
}

.container__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: var(--main-clr);
}

.container__img svg {
  position: relative;
  z-index: 1;
  height: 1rem;
  width: auto;
}

.container__img svg path {
  fill: var(--font-clr-1);
}

.container__text {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
}

.container__text p:last-of-type {
  color: var(--font-clr-2);
  font-weight: 300;
}

.container__arrow {
  position: absolute;
  bottom: 0.5em;
  right: -0.75em;
  display: grid;
  place-items: center;
}

.container__arrow svg {
  height: 1.25rem;
  filter: drop-shadow(var(--shadow));
}

@keyframes card-slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
