.container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.25rem);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
  background-color: var(--bkgrd-clr-1);
  border: 1px solid var(--bkgrd-clr-2);
  animation: slideIn 0.3s ease forwards;
}

.container__inputs {
  display: grid;
  gap: 1rem;
}

.container__inputs li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container__inputs li input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--bkgrd-clr-2);
  box-shadow: var(--shadow);
}

.container__inputs li div {
  display: flex;
  flex-direction: column;
  aspect-ratio: 2 / 1;
}

.container__signature {
  border: 1px dashed var(--font-clr-2);
  background: var(--bkgrd-clr-2);
  border-radius: 0.5rem;
  height: 8rem;
}

.container__inputs li div canvas {
  width: 100%;
  height: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 30rem;
    border-radius: 1rem;
  }
}
