.container {
  padding: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 1px solid var(--bkgrd-clr-2);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  padding: 0.75em;
}

.form__item input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--bkgrd-clr-2);
  box-shadow: var(--shadow);
}

.form__item h2 {
  text-transform: uppercase;
}
