.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: sticky;
  inset: 0;
  padding: 1rem;
}

.container svg {
  height: 70%;
  width: auto;
}

.container ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container ul li {
  height: 100%;
  border-radius: 50%;
}

.active {
  background-color: var(--bkgrd-clr-1);
}

.active a svg path {
  fill: var(--main-clr) !important;
}

.container ul li a {
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--bkgrd-clr-1);
  border-radius: 50%;
}

.container ul li a svg {
  height: 40%;
  width: auto;
}

.container ul li a svg path {
  fill: var(--bkgrd-clr-1);
}

