.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: sticky;
  inset: 0;
  padding: 1rem;
}

.container svg {
  height: 70%;
  width: auto;
}

.container ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container ul li {
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--bkgrd-clr-2);
}

.active {
  position: relative;
  overflow: hidden;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bkgrd-clr-1);
  animation: active-anim-slide 0.3s ease forwards;
}

.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 60%;
  transform: translate(-50%, -200%);
  background-color: var(--main-clr);
  animation: active-anim 0.3s ease 0.3s forwards;
  z-index: 1;
}

.container ul li a {
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.container ul li a svg {
  position: relative;
  height: 40%;
  width: auto;
  z-index: 2;
}

.container svg path {
  fill: var(--font-clr-1);
}

@keyframes active-anim {
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes active-anim-slide {
  from {
    transform: translateX(-100%);
  }
}
