.container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.25rem);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
  background-color: var(--bkgrd-clr-1);
  border: 1px solid var(--bkgrd-clr-2);
  animation: slideIn 0.3s ease forwards;
}

.container__info p {
  color: var(--font-clr-2);
}

.container__toggle {
  display: flex;
  align-items: center;
}

.toggle__img {
  display: grid;
  place-items: center;
  height: 3rem;
  aspect-ratio: 1;
  padding: 0.5rem;
}

.toggle__img > svg {
  height: auto;
  width: 100%;
}

.toggle__img > svg > path {
  fill: var(--main-clr);
}

.toggle__text {
  flex: 1 1;
}

.toggle__button {
  display: grid;
  place-items: center;
  height: 3rem;
  aspect-ratio: 1;
}

.toggle {
  display: flex;
  align-items: center;
  width: 2rem;
  padding: 0.1rem;
  height: 1.25rem;
  border-radius: 1000dvh;
  background: var(--bkgrd-clr-2);
  border: none;
  outline: none;
  cursor: pointer;
}

.toggle .slider {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--main-clr);
  transition: all 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 30rem;
    border-radius: 1rem;
  }
}
