* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bkgrd-clr-1: rgb(35, 35, 35);
  --bkgrd-clr-2: rgb(57, 55, 59);
  --font-clr-1: rgb(229, 229, 229);
  --font-clr-2: rgb(165, 165, 165);
  --main-clr: rgb(235, 255, 87);
  --success-clr-1: rgb(235, 255, 87);
  --success-clr-2: rgb(127, 139, 31);
  --toolbox-clr-slot: rgb(233, 233, 35);
  --toolbox-clr-bkgrd: rgb(22, 22, 22);
  --shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.App {
  background: linear-gradient(
    180deg,
    var(--main-clr),
    var(--bkgrd-clr-2) 12rem
  );
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  padding: 0 0.5rem;
  margin-inline: auto;
}

main {
  position: relative;
  flex: 1 1;
  background: var(--bkgrd-clr-1);
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.05);
}

li {
  list-style: none;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  color: var(--font-clr-1);
  letter-spacing: -0.05rem;
}

p,
a,
input {
  font-size: 0.8rem;
  color: var(--font-clr-1);
  letter-spacing: 0.025rem;
}
